.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    &-logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    &-menu {
        position: relative;
        &-list {
            display: flex;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;
            i {
                font-size: 45px;
            }
            span {
                font-size: 18px;
            }
        }
        &:hover &-item {
            display: block;
        }
        &-item {
            position: absolute;
            background-color: red;
            width: 200px;
            padding: 10px;
            display: none;
            cursor: pointer;
            &-text {
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    &-search {
        width: 750px;
        height: 40px;
        input {
            width: 100%;
            height: 100%;
            padding: 0 10px;
        }
    }
    &-user {
        &-reg {
            margin-right: 20px;
        }
    }
}
.banner {
    width: 100%;
    height: 500px;
    background-color: blue;
}
.list-course {
    margin: 60px;
    p {
        font-size: 20px;
        padding-bottom: 10px;
        font-weight: 400;
    }
    &-card {
        display: flex;
        flex-wrap: wrap;
        gap: 125px;
        justify-content: space-around;
    }
}

.footer {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    &-content {
        margin: 0 60px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 125px;
        justify-content: flex-start;
    }
}
